body {
  font-family: "Roboto", sans-serif;
  color: var(--main-header-color);
}
:root {
  --main-header-color: #2e2f42;
  --body-text-color: #434455;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/**
  |============================
  | logo
  |============================
*/
.logo-header-web {
  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: #4d5ae5;
}
.logo-header-studio {
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* NAVY BLUE */
  color: var(--main-header-color);
}
.logo-header-web: {
}
/**
  |============================
  | nav-list
  |============================
*/
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}
.nav-list .nav-list-item:hover,
.nav-list .nav-list-item:focus,
.nav-list .nav-list-item:active {
  color: #404bbf;
  text-decoration: underline;
  /**
    |============================
    | address-list
    |============================
  */
}
.address-list {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.address-list-mail:active,
.address-list-mail:focus,
.address-list-mail:hover {
  color: #404bbf;
}
/**
  |============================
  | button
  |============================
*/
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */

  color: #ffffff;
  background: #4d5ae5;
}
.button:hover,
.button:focus,
.button:active {
  background: #404bbf;
}
