body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: #ffffff;
}
:root {
  --main-header-color: #2e2f42;
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --light: #f4f4fd;
  --pressed-state-color: #404bbf;
}
p {
  color: var(--body-text-color);
}

.link {
  text-decoration: none;
}
/**
  |============================
  | logo
  |============================
*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: var(--primary-brand-color);
}
.logo-dark {
  /* NAVY BLUE */
  color: var(--main-header-color);
}
/**
  |============================
  | nav-list
  |============================
*/
.list {
  list-style: none;
}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-header-color);
}
.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active {
  color: var(--pressed-state-color);
  text-decoration: underline;
  /**
    |============================
    | address-list
    |============================
  */
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.address-list-mail:active,
.address-list-mail:focus,
.address-list-mail:hover {
  color: var(--pressed-state-color);
}
/**
  |============================
  | button
  |============================
*/
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  /* WHITE */

  color: #ffffff;
  background: var(--primary-brand-color);
}
.button:hover,
.button:focus,
.button:active {
  background: var(--pressed-state-color);
}
.footer {
  background-color: var(--main-header-color);
}
.logo-light {
  color: var(--light);
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--main-header-color);
}
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* SLATE */

  color: var(--body-text-color);
}
